{%include "_shared_context.j2" %}

Update an existing log entry using the the period and details given below. Both the period and the details are delimited by < and > symbols.
Updating means merging the new content with the existing content and then ensuring log conditions are met for the overall merged log entry.

period: <{{ period }}>
details: <{{ details }}>